@import '../../styles/colors.scss';

.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;

  h2 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  p {
    font-size: 1.5rem;
    letter-spacing: 1px;
    line-height: 1.8;
  }
}
