@import '../../styles/colors.scss';

.card {
  width: 750px;
  align-self: center;
  padding: 3rem;
  margin-top: 8rem;
  border-radius: 10px;
  box-shadow: 0px 1px 4px -1px $black;
  text-align: center;
  h2 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  p {
    font-size: 1.5rem;
    letter-spacing: 1px;
    line-height: 1.8;
  }

  button {
    margin-top: 1rem;
  }

  .offer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

    img {
      max-width: 250px;
    }

    & > div {
      margin-left: 2rem;
    }
  }

  .custom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;

    p {
      margin-bottom: 0;
    }

    button {
      margin-top: 0;
      margin-left: 1rem;
    }
  }
}
